body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
}
nav {
    padding: 1em;
    background-color: #f2f2f2;
}

nav a {
    margin-right: 1em;
    color: #4CAF50;
    text-decoration: none;
}

nav img.logos {
    width: 25px;
    height: 25px;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

h3 {
    color: #333;
    margin-top: 20px;
}

section {
    background: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    section {
        margin: 10px;
        padding: 10px;
    }

}
footer {
    text-align: center;
    padding: 1em;
    background-color: #f2f2f2;
}
